
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
.content{
    position: relative;
}
.content h2{
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 8em;
}
.content h2:nth-child(2){
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate{
    0%,100%
    {
        clip-path: polygon(0% 43%, 10% 41%, 26% 43%, 41% 46%, 52% 48%, 67% 49%, 78% 48%, 87% 43%, 97% 36%);
    }
    50%{clip-path: polygon(1% 44%, 17% 40%, 32% 33%, 32% 33%, 45% 29%, 59% 25%, 75% 28%, 84% 33%, 94% 39%, 100% 46%, 0% 62%, 1% 77%, 17% 76%, 35% 77%, 48% 77%, 73% 77%, 87% 78%, 97% 77%, 2% 98%, 100% 98%, 88% 79%, 88% 79%, 97% 76%, 97% 76%, 97% 69%, 100% 62%, 100% 53%, 100% 49%);
    }
}